export IMASQUARE_SLACK_CLIENT_ID=''
export IMASQUARE_SLACK_CLIENT_SECRET=''
export IMASQUARE_SLACK_TEAM_NAME=''

export IMASQUARE_DB_HOST=''
export IMASQUARE_DB_PORT=''
export IMASQUARE_DB_USERNAME=''
export IMASQUARE_DB_PASSWORD=''
export IMASQUARE_DB_NAME=''

export IMASQUARE_SESSION_SECRET=''
export IMASQUARE_HOST=''
