<h1>チームの作成</h1>

<p>既にあるチームに入りたい場合はトップページのチーム一覧からチームに参加してください。</p>

<form action='/teams' method='post'>
  <div>
    <label for='name'>チーム名</label>
    <input type='text' name='name' />
  </div>
  <div>
    <label for='name'>チームの説明</label>
    <input type='text' name='description' />
  </div>
  <input type='submit' value='登録' />
</form>
