<!DOCTYPE html>
<html>
  <head>
    <title>IM@Square</title>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <!-- Compiled and minified CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>
    <style type='text/css'>
      .markdown-text {
        font-size: 18px;
      }
      .markdown-text h1 {
        font-size: 2.2em;
        margin-top: 5px;
      }
      .markdown-text h2 {
        font-size: 2em;
        margin-top: 5px;
      }
      .markdown-text h3 {
        font-size: 1.8em;
      }
      .markdown-text h4 {
        font-size: 1.5em;
      }
      .markdown-text h5 {
        font-size: 1.2em;
      }
      .markdown-text h6 {
        font-size: 1.1em;
      }
    </style>
  </head>
  <body>
    <ul id='nav-dropdown' class='dropdown-content'>
      <li><a href='/auth/slack/destroy'>Logout</a></li>
      <% if admin_user? %>
        <li><a href='/admin'>Admin</a></li>
      <% end %>
    </ul>
    <nav class='light-blue lighten-1' role='navigation'>
      <div class='nav-wrapper container'>
        <a id='logo-container' href='/' class='brand-logo'>IM@Square</a>
        <ul id='nav-mobile' class='right hide-on-med-and-down'>
          <% if current_user %>
            <li><a class='dropdown-button' href='#!' data-activates='nav-dropdown'><img src='<%= current_user['avatar_url'] %>' class='circle' style='width: 20px; height: 20px; vertical-align: text-bottom;' alt='<%= current_user['nickname'] %>' />&nbsp;<%= current_user['nickname'] %></a></li>
          <% else %>
            <li><a href='/auth/slack'>Login</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <!-- jQuery -->
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js'></script>
    <script type='text/javascript'>
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>
  </body>
</html>
