<div class='section no-pad-bot'>
  <div class='row center'>
    <h1 class='header blue-text'>IM@Square by IM@Study</h1>
    <div class='s12'>
      <% @users.each do |user| %>
        <img src='<%= user['avatar_url'] %>' alt='<%= user['nickname'] %>' title='<%= user['nickname'] %>' width='32' height='32' />
      <% end %>
    </div>
    <div class='s12'>
      <img src='img/cover.png' alt='アイマスハッカソン2017'/>
    </div>
  </div>
  <div class='row center'>
    <h5 class='header col s12 light'>アイドルを愛でる、アイマスにコントリビュートする</h5>
  </div>
  <div class='row center'>
    <a href='/auth/slack' class='btn-large waves-effect waves-light blue'>『IM@Study』Slackでログイン</a>
  </div>
</div>
<div class='container'>
  <div class='section'>
    <div class='row'>
      <div class='col s12 m12'>
        <div class='icon-block'>
          <h5 class='center'>
            IM@Square(imas + square)
          </h5>
          <p class='light'>
            IM@Squareは『<a href='https://imas.connpass.com/event/70592/'>アイマスハッカソン2017</a>』のために開発されたチームでのContributeを支援するシステムです。あとついでに発表順の調整とかもします。
          </p>
        </div>
      </div>
      <div class='col s12 m12'>
        <div class='icon-block'>
          <h5 class='center'>
            参加方法
          </h5>
          <p class='light'>
            <a href='https://imas-hack.herokuapp.com/'>#imas_hackのSlack</a>(登録していない人は登録して)で<a href='/auth/slack'>ログイン</a>してください。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
