<h1>IM@Square</h1>

<p>IM@Square(imas + square)にようこそ。IM@Squareは『<a href='https://imas.connpass.com/event/70592/'>アイマスハッカソン2017</a>』のために開発されたチームでのContributeを支援するシステムです。あとついでに発表順の調整とかもします。</p>

<h2>参加方法</h2>

<p><a href='https://imas-hack.herokuapp.com/'>#imas_hackのSlack</a>(登録していない人は登録して)で<a href='/auth/slack'>ログイン</a>してください。</p>
